article, aside, figure, footer, header, nav, section {
    display: block;
}

body {
    min-height: 900px;
    position: relative;
    background-color:lightblue;
    background-image: -webkit-linear-gradient(lightblue, aliceblue, white, aliceblue, yellowgreen);
    background-image: -moz-linear-gradient(lightblue, aliceblue, white, aliceblue, yellowgreen);
    background-image: -o-linear-gradient(lightblue, aliceblue, white, aliceblue, yellowgreen);
}

form {
    width: 850px;
    height: 647px;
    background-color: #f8f7e1;
    background-image: url(Images/JackTheBlueOwlFrame4.png);
    margin: auto;
    position: relative;
}

input {
    height: 35px;
    width: 140px;
    border-radius: 60px;
    font-size: 18px;
    position: absolute;
}

    input:focus {
        outline: 0;
    }

#resetButton {
    right: 200px;
    bottom: 65px;
    background-color: yellowgreen;
}

#userGuessTextBox {
    left: 260px;
    bottom: 370px;
}

#tryNumberButton {
    left: 320px;
    bottom: 115px;
    background-color: orange;
}

#messageParagr {
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 350px;
    right: 100px;
    left: 100px;
}

#numberOfTries {
    font-size: 25px;
    position: absolute;
    left: 500px;
    top: 280px;
}

#userOutput {
    font-size: 25px;
    position: absolute;
    left: 200px;
    top: 440px;
}

#totalTriesLeftOutput {
    font-size: 25px;
    position: absolute;
    left: 300px;
    top: 520px;
}

#divButtons {
    text-align: center;
    position: absolute;
    top: 90px;
    left: 80px;
    right: 80px;
}

#divButtons2 {
    text-align: center;
    position: absolute;
    top: 155px;
    left: 80px;
    right: 80px;
}

#divFireworks {
    display:none;
    position: absolute;
    top: 150px;
    left: 350px;
}

button {
    background-color: transparent;
    border-radius: 60px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    margin: 15px;
    margin-left: 25px;
}

button:focus {
        outline:none;

}

header {
    color: white;
    text-align: center;
}
footer {
    text-align:right;
    padding:30px;
}
